@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.root {
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .heading {
  width: 100%;
  height: 40rem;
  background: url("../resources/home/home_heading.svg");
  background-size: cover;
}

.root .heading .navbar {
  padding: .8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .heading .navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.root .heading .navbar nav .login {
  padding-right: 1.5rem;
}

.root .heading .navbar nav .login button {
  border-radius: 7px;
  color: white;
  background: #08BD80;
  border: none !important;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.root .heading .navbar nav .login button:hover {
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.root .heading .heading-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.root .heading .heading-info .heading-title {
  padding-top: 6rem;
  padding-left: 1rem;
  font-size: 2.9rem;
  color: #646464;
}

.root .heading .heading-info .heading-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 9rem;
}

.root .heading .heading-info .heading-cards .card-1 {
  background: url("../resources/home/card1.svg");
  background-repeat: no-repeat;
  height: 22em;
  width: 34em;
  border-radius: 19px;
  background-color: white;
  background-position: right bottom;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.11);
          box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.11);
}

.root .heading .heading-info .heading-cards .card-1 .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  padding-top: 1.5rem;
}

.root .heading .heading-info .heading-cards .card-1 .card-content .card-links {
  padding-top: 2rem;
}

.root .heading .heading-info .heading-cards .card-1 .card-content .card-links span {
  color: #08BD80;
  text-decoration: none;
  font-size: .95rem;
}

.root .heading .heading-info .heading-cards .card-1 .card-content .card-links a:link {
  text-decoration: none;
}

.root .heading .heading-info .heading-cards .card-1 .card-content button {
  width: 10rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  margin-top: 2rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #08BD80;
  -webkit-transition: 1s;
  transition: 1s;
}

.root .heading .heading-info .heading-cards .card-1 .card-content button:hover {
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.root .heading .heading-info .heading-cards .card-2 {
  background: url("../resources/home/card2.svg");
  background-repeat: no-repeat;
  height: 22em;
  width: 34em;
  border-radius: 19px;
  background-color: white;
  background-position: right bottom;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.11);
          box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.11);
}

.root .heading .heading-info .heading-cards .card-2 .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  padding-top: 1.5rem;
}

.root .heading .heading-info .heading-cards .card-2 .card-content .card-links {
  padding-top: 2rem;
}

.root .heading .heading-info .heading-cards .card-2 .card-content .card-links span {
  color: #08BD80;
  text-decoration: none;
  font-size: .95rem;
}

.root .heading .heading-info .heading-cards .card-2 .card-content .card-links a:link {
  text-decoration: none;
}

.root .heading .heading-info .heading-cards .card-2 .card-content button {
  width: 10rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  margin-top: 2rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #08BD80;
  -webkit-transition: 1s;
  transition: 1s;
}

.root .heading .heading-info .heading-cards .card-2 .card-content button:hover {
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.root .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 18rem;
}

.root .features .feature {
  height: 22rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .features .feature img {
  border-radius: 14px;
}

.root .features .feature #feature-title {
  padding-top: 2rem;
  font-style: bold;
  font-size: 1.5rem;
  color: #3a3a3a;
}

.root .features .feature #feature-disc {
  padding-top: .6rem;
  font-size: .9rem;
  color: #222222;
}

.root .get-app-block {
  background-color: #ffffff;
  margin-top: 10rem;
  height: 28rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .get-app-block .get-app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23rem;
}

.root .get-app-block .get-app-links #get-app-heading {
  font-size: 2.5rem;
}

.root .get-app-block .get-app-links #get-app-disc {
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

.root .get-app-block .get-app-links .actual-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.8rem;
}

.root .get-app-block .get-app-links #app-store-link {
  width: 141px;
  height: 47px;
}

.root .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
}

.root .stats .left-side {
  width: 17rem;
}

.root .stats .left-side #heading {
  font-size: 2rem;
}

.root .stats .left-side #disc {
  padding-top: 1rem;
}

.root .stats .left-side button {
  width: 10rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  margin-top: 2rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #08BD80;
  -webkit-transition: .5s;
  transition: .5s;
}

.root .stats .left-side button:hover {
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.root .stats .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2.5rem;
}

.root .stats .right-side .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.root .stats .right-side .columns #card1 {
  background-color: white;
  height: 11.5rem;
  width: 17.5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  border-radius: 15px;
  background: url("../resources/home/highlightgoals_96d24a04e7_a8e8de225d.svg");
}

.root .stats .right-side .columns #card1 #heading {
  padding-top: 2rem;
  font-size: 1.1rem;
  color: #292828;
}

.root .stats .right-side .columns #card1 #count {
  font-size: 2rem;
  padding-top: .7rem;
  color: #413f3f;
}

.root .stats .right-side .columns #card2 {
  background-color: white;
  height: 11.5rem;
  width: 17.5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  border-radius: 15px;
  background: url("../resources/home/highlightlive_b05ed1f073_a8042bd7a8.svg");
}

.root .stats .right-side .columns #card2 #heading {
  padding-top: 2rem;
  font-size: 1.1rem;
  color: #292828;
}

.root .stats .right-side .columns #card2 #count {
  font-size: 2rem;
  padding-top: .7rem;
  color: #413f3f;
}

.root .stats .right-side .columns #card3 {
  background-color: white;
  height: 11.5rem;
  width: 17.5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  border-radius: 15px;
  background: url("../resources/home/highlightminswatched_fe52bc4026_ca82eba8b0.svg");
}

.root .stats .right-side .columns #card3 #heading {
  padding-top: 2rem;
  font-size: 1.1rem;
  color: #292828;
}

.root .stats .right-side .columns #card3 #count {
  font-size: 2rem;
  padding-top: .7rem;
  color: #413f3f;
}

.root .stats .right-side .columns #card4 {
  background-color: white;
  height: 11.5rem;
  width: 17.5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  border-radius: 15px;
  background: url("../resources/home/image55.svg");
}

.root .stats .right-side .columns #card4 #heading {
  padding-top: 2rem;
  font-size: 1.1rem;
  color: #292828;
}

.root .stats .right-side .columns #card4 #count {
  font-size: 2rem;
  padding-top: .7rem;
  color: #413f3f;
}

.root .stats .right-side .columns #card5 {
  background-color: white;
  height: 11.5rem;
  width: 17.5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  border-radius: 15px;
  background: url("../resources/home/image69.svg");
}

.root .stats .right-side .columns #card5 #heading {
  padding-top: 2rem;
  font-size: 1.1rem;
  color: #292828;
}

.root .stats .right-side .columns #card5 #count {
  font-size: 2rem;
  padding-top: .7rem;
  color: #413f3f;
}

.root .footer {
  background: white;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 6rem;
}

.root .footer .column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .footer .column1 .icons {
  margin-top: 2rem;
}

.root .footer .column1 p {
  padding-top: .5rem;
  font-size: .75rem;
}

.root .footer .column2 p {
  padding-top: .8rem;
  font-size: .8rem;
}

.root .footer .column2 #heading {
  font-size: .8rem;
}

.root .footer .column3 p {
  padding-top: .8rem;
  font-size: .8rem;
}

.root .footer .column3 #heading {
  font-size: .8rem;
}

.root .footer .column4 p {
  padding-top: .8rem;
  font-size: .8rem;
}

.root .footer .column4 #heading {
  font-size: .8rem;
}

.root .footer .column5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: .8rem;
}

.root .footer .column5 #heading {
  font-size: .8rem;
}

.root .footer .column5 .actual-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1rem;
}

.root .footer .column5 #app-store-link {
  width: 110px;
  height: 37px;
}
/*# sourceMappingURL=home.css.map */