@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.root{

    @mixin buttonHover {
        -moz-transform: translate(0px, -10px);
        -webkit-transform: translate(0px, -10px);
        -o-transform: translate(0px, -10px);
        -ms-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
    }
    
    width: 75vw;
    display: flex;
    flex-direction: column;

    .heading{
        width: 100%;
        height:40rem;
        background: url("../resources/home/home_heading.svg");
        background-size: cover;
        

        .navbar{

            padding: .8rem;
            align-items: center;
            nav{
                display: flex;
                flex-direction: row;
                justify-content:space-between;
                margin-top: 1rem;
    
                
                .login{   
                    padding-right: 1.5rem;
    
                    button{
                        $button-side-padding: 1.4rem;
                        $button-v-padding: .6rem;
                        border-radius: 7px;
                        color: white;
                        background: #08BD80;
                        border: none !important;
                        padding-right: $button-side-padding;
                        padding-left: $button-side-padding;
                        padding-top: $button-v-padding;
                        padding-bottom: $button-v-padding;
                        font-size: 1.1rem;
                        transition: .5s;
                    }


                    button:hover{
                        @include buttonHover;
                    }
                }
            }
        }

        .heading-info{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            .heading-title{
                padding-top:6rem;
                padding-left: 1rem;
                font-size: 2.9rem;
                color: rgb(100, 100, 100);
            }

            @mixin headingCards {
                height:22em;
                width:34em;
                border-radius: 19px;
                background-color: rgb(255, 255, 255);
                background-position: right bottom;
                box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.11);
                .card-content{
                    display: flex;
                    flex-direction: column;
                    padding-left: 1rem;
                    padding-top: 1.5rem;

                    .card-links{
                        
                        padding-top: 2rem;
                        span{
                            color: #08BD80;
                            text-decoration: none;  
                            font-size: .95rem;        
                        }
                        a:link{
                            text-decoration: none;
                        }
                    }

                    button{
                        width:10rem;
                        padding-top: .7rem;
                        padding-bottom: .7rem;
                        margin-top: 2rem;
                        font-size: 16px;
                        border: none;
                        border-radius:5px;
                        color: white;
                        background-color:#08BD80;
                        transition: 1s;
                    }

                    button:hover{
                        @include buttonHover;
                    }

                    
                }
            }
            
            .heading-cards{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-top: 9rem;

                .card-1{
                    background:url("../resources/home/card1.svg");
                    background-repeat: no-repeat;
                    @include headingCards;
                }
                .card-2{
                    background:url("../resources/home/card2.svg");
                    background-repeat: no-repeat;
                    @include headingCards;
                }
            }
        }
    }

    .features{
        display:flex;
        flex-direction:row;
        justify-content: space-around;

        padding-top: 18rem;

        .feature{
            
            height: 22rem;
            width: 20rem;
            display:flex;
            flex-direction:column;

            img{
                border-radius:14px;
            }

            #feature-title{
                padding-top: 2rem;
                font-style: bold;
                font-size: 1.5rem;
                color:#3a3a3a;
            }

            #feature-disc{
                padding-top: .6rem;  
                font-size: .9rem;
                color:#222222;
            }
        }
    } 
    
    .get-app-block{

        background-color:#ffffff;
        margin-top: 10rem;
        height:28rem;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .get-app-links{
            display: flex;
            flex-direction: column;
            width: 23rem;
            #get-app-heading{
                font-size:2.5rem;
            }
            #get-app-disc{
                padding-top: 1.5rem;
                font-size:1.2rem;
            }
            .actual-links{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 2.8rem;
            }
            #app-store-link{
                width: 141px;
                height:47px;
            }
        }
        
    }

    .stats{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height:40rem;
        align-items: center;
        padding-top: 8rem;
        
        .left-side{

            width:17rem;
            #heading{
                font-size: 2rem;
            }
            #disc{
                padding-top: 1rem;
            }
            button{
                width:10rem;
                padding-top: .7rem;
                padding-bottom: .7rem;
                margin-top: 2rem;
                font-size: 16px;
                border: none;
                border-radius:5px;
                color: white;
                background-color:#08BD80;
                transition:.5s;
            }
            button:hover{
                @include buttonHover;
            }
        }
        .right-side{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 2.5rem;

            .columns{
                display:flex;
                flex-direction: column;
                justify-content: center;
                
                
                @mixin card{
                    background-color:rgb(255, 255, 255);
                    height:11.5rem;
                    width:17.5rem;
                    margin-bottom: 1rem;
                    background-repeat: no-repeat;
                    border-radius: 15px;
                    
                    #heading{
                        padding-top:2rem;
                        font-size: 1.1rem;
                        color:rgb(41, 40, 40);
                    }

                    #count{
                        font-size:2rem;
                        padding-top: .7rem;
                        color:rgb(65, 63, 63);
                    }
                }

                #card1{
                    @include card;
                    background: url("../resources/home/highlightgoals_96d24a04e7_a8e8de225d.svg");

                }
                #card2{
                    @include card;
                    
                    background: url("../resources/home/highlightlive_b05ed1f073_a8042bd7a8.svg");
                }
                #card3{
                    @include card;
                    background: url("../resources/home/highlightminswatched_fe52bc4026_ca82eba8b0.svg");

                }
                #card4{
                    @include card;
                    background: url("../resources/home/image55.svg");

                }
                #card5{
                    @include card;
                    background: url("../resources/home/image69.svg");

                }
                
            }
        }
    }
}